* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

/* my name css*/

header {
  padding: 40px;
  text-align: center;
  background: black;
  color: #fff;
  font-size: 30px;
}


a {
  text-align: center;
}
/* navbar*/

nav {
  display: flex;
  background-color: #a5c53b;

}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

/* main sections*/

main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: rgb(227, 149, 2);
  padding: 80px;
  text-align: start;
}

/* about me*/

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* current projects*/

.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
  text-align: center;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* About me text*/

main h2{
  text-align: center;
}

/* resume button*/

main button{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  background-color:rgb(227, 149, 2) ;
  color:black;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  position: relative;
 top: 5%;
}



@media screen and (max-width: 768px) {

  main,
  nav {
    flex-direction: column;
  }
}